build/
install/
output/
data/
.cache/
.vscode/
.clangd
NotesOnThisProject.txt
CMakeLists_old.txt
testEviov2.cpp
test_v1290.C
test_ti.C

# Data files
*.root
*.evio.*


#*.sh
*.png


# Workspaces
*.code-workspace